/* Pagina index */

html, body {
    margin: 0%;
    height: 100%;
}

.ventana {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fondoPrincipal {
        background-image: url(../Imagenes/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

#logo {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    html, body {
        margin: 0%;
        height: 100%;
    }
    
    .ventana {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #fondoPrincipal {
      background-image: url(../Imagenes/fondo2.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    #logo {
        width: 50%;
    }
}

@media only screen and (max-height: 800px) {
    html, body {
        margin: 0%;
        width: 100%;
    }
    
    .ventana {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #fondoPrincipal {
      background-image: url(../Imagenes/fondo.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    #logo {
        width: 50%;
    }
    
    #teamShield {
        height: 30px;
    }
}

.titulo {
    color: white
 }
 
.nav-bar {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 10;
	z-index: 10;
}

.nav-item {
	cursor: pointer;
	text-align: center;
	padding: 0 1.2rem;
}

.text {
    transition: all 1.0s ease-in-out;
    color: transparent;
}

#league:hover .text {
	transform: translateY(-100%);
	color: white;
}

#tarjetas1, .titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 0;
    
}

#league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    transition: 1.0s; 
     
}
/* Pagina liga */


/* Cabecero */

#headerLiga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-color: #a3aaa7;
}

#cabecero {
    display: flex;
    justify-content: space-around;   
}

#cabecero a, #cabecero label {
    color: #182a22;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    margin: 0%;
}

#cabecero div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
}

#cabecero {
    width: 60%;
    height: 60px;
    margin: 0.5% 0% 0.5% 0%;
}

#cabecero a:hover, #cabecero label:hover {
    color: #fff;
}

#teams1 {
    display: none;
}

#shields {
    overflow: hidden;
    height: 0px;
    width: 100%;
}

#teamShield {
    height: 40px;
}

#click input:checked ~ #shields {
    background-color: #1b2e25b7;
    height: 60px;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Buscador de contenido */

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#ctn-icon-search i{
    font-size: 14px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #46a2fd;
}


#ctn-bars-search{
    position: fixed;
    right: -100000px;
    width: 40%;
    background: #fff;
    
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #fff;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 80%;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    display: none;
}

/* Tabla resultados y clasificación */

.top {
    background-color: green;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.table-users {
   border: 1px solid #398B93;
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 90%;
}

#tableR {
   width: 100%;
}

#tableC {
   width: 100%;
}

#tableR th { 
    color: #398B93;
    padding: 10px; 
    background-color: #a2f7ff;
    font-weight: 300;
} 

#tableR td { 
      color: #398B93;
      padding: 10px; 
}

#tableC th { 
    color: #398B93;
    padding: 10px 0px 10px 0px; 
    background-color: #a2f7ff;
    font-weight: 300;
} 

#tableC td { 
      color: #398B93;
      padding: 10px 0px 10px 0px; 
}


#centrado {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: center;
    background-color: white;
}

#izquierda {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
    background-color: white;
}

#derecha {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: right;
    background-color: white;
}

#colorClasificacion {
    width: 5px;
    padding: 0px;
    margin: 0px;
}

#tableFirst {
    background-color: #a2f7ff;
}

/* @media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: $imageBig;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: $imageBig;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Name:'; }
      &:nth-child(3):before { content: 'Email:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
   }
   
   tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
   }
} */

/* @media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
   }
   
   td {
      &:first-child { 
         background-color: lighten($baseColor, 45%); 
         border-bottom: 1px solid lighten($baseColor, 30%);
         border-radius: $borderRadius $borderRadius 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
} */


/* Acordeon liga para resultados y clasificacion */

/* Desplegable */
.seccion {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    
    overflow: hidden;
}

.seccion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.seccion label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a084;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.seccion-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
  
.seccion-content p {
    margin: 1em;
}

  /* Click */
.seccion input:checked ~ .seccion-content {
    max-height: 100vh;
}
  
  /* + */
  .seccion label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .seccion input[type=checkbox] + label::after {
    content: "+";
  }
  .seccion input[type=radio] + label::after {
    content: "\25BC";
  }
  .seccion input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .seccion input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

    /* Select de Scores */

/* Reset Select */
#jornada {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    border: 0 !important;
}
 
  /* Custom Select */
#jornada {
    display: flex;
    width: 8em;
    height: 3em;
    /* line-height: 3; */
    background:rgb(65,135,121);
    overflow: hidden;
    border-radius: .25em;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
  
